
  <ul class="header__nav-list">
    <li class="header__nav-item">MAIN</li>
    <li class="header__nav-item">about</li>
    <li class="header__nav-item">game features</li>
    <li class="header__nav-item">System requirements</li>
    <li class="header__nav-item">quotes</li>
  </ul>
