
  <ul class="header__nav-list">
    <li class="header__nav-item js-scroll" data-target='hero'>MAIN</li>
    <li class="header__nav-item js-scroll" data-target='what'>about</li>
    <li class="header__nav-item js-scroll" data-target='features'>game features</li>
    <li class="header__nav-item js-scroll" data-target='requirements'>System requirements</li>
    <li class="header__nav-item js-scroll" data-target='quotes'>quotes</li>
  </ul>
