<section class="faq">
  <div class="faq__container container">
    <h3 class="faq__title h3">  Частые вопросы о&nbsp;создании сайтов</h3>

    <div class="faq__list">
      <div class="faq__item">
        <div class="faq__item-question">Какой срок разработки сайта?</div>
        <div class="faq__item-answer"> С помощью дизайна, мы расставляем акценты, чтобы посетителям сайта стало понятно - вы лучшее решение их задачи  С помощью дизайна, мы расставляем акценты, чтобы посетителям сайта стало понятно - вы лучшее решение их задачи С помощью дизайна, мы расставляем акценты, чтобы посетителям сайта стало понятно - вы лучшее решение их задачи С помощью дизайна, мы расставляем акценты, чтобы посетителям сайта стало понятно - вы лучшее решение их задачи С помощью дизайна, мы расставляем акценты, чтобы посетителям сайта стало понятно - вы лучшее решение их задачи</div>
      </div>

      <div class="faq__item">
        <div class="faq__item-question">Какой срок разработки сайта?</div>
        <div class="faq__item-answer"> С помощью дизайна, мы расставляем акценты, чтобы посетителям сайта стало понятно - вы лучшее решение их задачи  С помощью дизайна, мы расставляем акценты, чтобы посетителям сайта стало понятно - вы лучшее решение их задачи С помощью дизайна, мы расставляем акценты, чтобы посетителям сайта стало понятно - вы лучшее решение их задачи С помощью дизайна, мы расставляем акценты, чтобы посетителям сайта стало понятно - вы лучшее решение их задачи С помощью дизайна, мы расставляем акценты, чтобы посетителям сайта стало понятно - вы лучшее решение их задачи</div>
      </div>

      <div class="faq__item _active">
        <div class="faq__item-question">Какой срок разработки сайта?</div>
        <div class="faq__item-answer"> С помощью дизайна, мы расставляем акценты, чтобы посетителям сайта стало понятно - вы лучшее решение их задачи  С помощью дизайна, мы расставляем акценты, чтобы посетителям сайта стало понятно - вы лучшее решение их задачи С помощью дизайна, мы расставляем акценты, чтобы посетителям сайта стало понятно - вы лучшее решение их задачи С помощью дизайна, мы расставляем акценты, чтобы посетителям сайта стало понятно - вы лучшее решение их задачи С помощью дизайна, мы расставляем акценты, чтобы посетителям сайта стало понятно - вы лучшее решение их задачи</div>
      </div>
    </div>
  </div>
</section>