<section class="features">
    <div class="what__bg bg">
      <img src="../img/bg-features.jpg" alt="">
    </div>
    <div class="features__container container">
      <div class="features__info">
        <h3 class="features__info-subtitle h3">What’s so special?</h3>
        <h2 class="features__info-title h2">features</h2>
      </div>

      <div class="features__accordion accordion">
        <div class="features__accordion-item accordion__item _active">
          <div class="accordion__item-btn">
            <div class="accordion__item-svg">
              <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="8.21436" cy="8.54736" r="7" transform="rotate(90 8.21436 8.54736)" stroke="white" stroke-width="1.30637"/>
              </svg>
            </div>
  
            <h3 class="accordion__item-title">SURVIVE AT ALL COSTS</h3>
          </div>
          <div class="accordion__item-content txt"> You have 30 minutes to find a relic, signal for extraction, and grab
            one of three spots on the rescue chopper.</div>
        </div>

        <div class="features__accordion-item accordion__item _active">
          <div class="accordion__item-btn">
            <div class="accordion__item-svg">
              <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="8.21436" cy="8.54736" r="7" transform="rotate(90 8.21436 8.54736)" stroke="white" stroke-width="1.30637"/>
              </svg>
            </div>
  
            <h3 class="accordion__item-title">CREATE ALLIES AND ENEMIES</h3>
          </div>
          <div class="accordion__item-content txt"> Our goal is to create a product and service that you’re satisfied with and use it every day. This is why we’re constantly working on our services to make it better every day and really listen to what our users has to say.</div>
        </div>

        <div class="features__accordion-item accordion__item _active">
          <div class="accordion__item-btn">
            <div class="accordion__item-svg">
              <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="8.21436" cy="8.54736" r="7" transform="rotate(90 8.21436 8.54736)" stroke="white" stroke-width="1.30637"/>
              </svg>
            </div>
  
            <h3 class="accordion__item-title">IMPRESS THE AUDIENCE</h3>
          </div>
          <div class="accordion__item-content txt"> short content</div>
        </div>

      </div>
    </div>
</section>