<footer class="footer">
  <div class="footer__container container">
    <div class="footer__left">
      <img src="../img/footer-logo.png" alt="">
      <div class="footer__left-info">
       <span>© 2018-2023 г. </span> 
       <span>Веб-студия Exalt studio</span> 
      </div>
    </div>
    <div class="footer__right">
      <a href="tel:+77051831085">Тel: +7(705)18-310-85</a>
      <a href="mailto:chelmishki74@yandex.ru">E-mail: chelmishki74@yandex.ru</a>
    </div>
  </div>
</footer>