<section class="form">
     <h3 class="form__title h3">Заполните форму и мы сделаем 
      для вашего бизнеса лучший сайт</h3>
  <div class="form__container container">
    <div class="form__left">
      <form action="">
        <div class="form__left-title">Оставьте заявку 
          нао&nbsp;консультацию</div>
        <input class="form__left-input" type="text" placeholder="Имя">
        <input class="form__left-input" type="text" placeholder="Телефон">
        <div class="form__left-policy">
        <input id="checkbox" class="checkbox" checked type="checkbox">
        <label for="checkbox">
          Согласие на обработку <a>Персональных данных</a>
        </label>
         </div>


        <button class="form__left-btn">Оставить заявку</button>
      </form>
    </div>

    <div class="form__right">
      <img src="../img/cosmoGay.svg" alt="">
    </div>
  </div>
</section>