  <header class="header scrollto">
    <div class="header__container container">
      <div class="header__logo"><span>EXALT </span> STUDIO</div>
      <nav class="header__nav">
        <div class="header__link js-scroll" data-target="advantages">Преимущества</div>
        <div class="header__link js-scroll" data-target="works">Наши работы</div>
        <div class="header__link js-scroll" data-target="tilda">Цены</div>
        <div class="header__link js-scroll" data-target="form">Контакты</div>
      </nav>

      <div class="header__left">
        <a href="tel:+77051831085">+7(705)18-310-85</a>
        <button class="header__btn btn open-popup" data-type="request">Заказать звонок</button>
      </div>
      <button class="burger">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </header>