  <header class="header">
    <div class="header__container container">
      <div class="header__logo"><span>EXALT </span> STUDIO</div>
      <nav class="header__nav">
        <div class="header__link">Преимущества</div>
        <div class="header__link">Наши работы</div>
        <div class="header__link">Цены</div>
        <div class="header__link">Контакты</div>
      </nav>

      <div class="header__left">
        <a href="tel:+77051831085">+7(705)18-310-85</a>
        <button class="header__btn btn">Заказать звонок</button>
      </div>
      <button class="burger">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </header>