  <section class="hero">
{#     <img class='hero__bg' src="../img/hero-temp.png" alt=""> #}
    <div class="hero__container container">
      <div class="hero__left">
        <h1 class="h1">Создание сайтов 
          в&nbsp;Казахстане</h1>
        <h2 class="h2"> Эффектные сайты <br>
          с эффективным решением</h2>

        <button class='hero__btn btn'> Оставить заявку</button>
      </div>

      <div class="hero__right">
        <img src="../img/cosmoGay.svg" alt="">
      </div>
    </div>
  </section>