<section class="hero">
    <div class="hero__slider">
      <div class="hero__slider-inner">
        <div class="hero__slide">
          <div class="hero__slide-gradient"></div>
          <img src="../img/hero-bg-1.jpg" alt="hero-bg-1.jpg">
        </div>
      </div>
      <div class="hero__slider-pagination pagination">
        <span class="pagination__bullet"></span>
      </div>
   
    </div>
    <div class="hero__container">
      <div class="hero__info">
        <h2 class="h2 hero__title">SURVIVE AT ALL COSTS</h2>
        <div class="h3 hero__subtitle">Experience new social battle royale game</div>

        <a class="btn btn--price" href="#">Buy Now on Steam <span></span> $14.99</a>
      </div>

      <div class="hero__arrow">
        <span>the story</span>
        <svg width="23" height="12" viewBox="0 0 23 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M21.5786 1.83362H1.32422L11.338 10.0027L21.5786 1.83362Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
    </div>
</section>