  <section class="hero">
    <video class='hero__bg' src="../img/video.mp4" type="video/mp4" autoplay muted loop></video>
     <div class='hero__overlay'> </div>

{#      <div id="typed-strings">
    <span>Строка для печати 1</span>
    <span>Пример 2 - Пример строки</span>
</div>

<div class="text-typing">
    <span id="typed"></span>
</div> #}
    

{#     <img class='hero__bg' src="../img/hero-temp.png" alt=""> #}
    <div class="hero__container container">
      <div class="hero__left">
        <h1 class="h1">Создание сайтов 
          в&nbsp;Казахстане</h1>

          <div id="typed-strings">
            <span>Эффектные сайты с эффективным решением</span>
          </div>
          <h2 class="h2"> <span  id="typed"></span></h2>
       
        

        <button class='hero__btn btn open-popup' data-type="request"> Оставить заявку</button>
      </div>

      <div class="hero__right">
        <img src="../img/cosmoGay.svg" alt="">
      </div>
    </div>
  </section>