<div class="popup__bg homes works-popup"> 
    <div class="popup">
    <img src="../img/close.svg" class="close-popup">
        <div class="popup__content">
            <img class="popup__img" src="../img/homes.webp" alt="">
        </div>
    </div>
</div>  