<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>exalt</title>
</head>
<body>
  {% include "header.njk" %}
  <main>
    {% include "hero.njk" %}
    {% include "advantages.njk" %}
    {% include "works.njk" %}
    {% include "numbers.njk" %}
    {% include "tilda.njk" %}
    {% include "cms.njk" %}
    {% include "process.njk" %}
    {% include "we.njk" %}
    {% include "faq.njk" %}
    {% include "form.njk" %}
    {% include "popup-request.njk" %}
    {% include "popup-info-tilda.njk" %}
     {% include "popup-info-cms.njk" %}
  </main>
  {% include "footer.njk" %}
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
</body>
</html>