  <section class="numbers">
    <h3 class="numbers__title">О нас в&nbsp;цифрах</h3>
    <ul class="numbers__list">
      <li class="numbers__item">
        <div class="numbers__item-number" data-max="5">
          1
        </div>
        <span class="numbers__item-txt">
          Лет работы
        </span>
      </li>

      <li class="numbers__item">
        <span class="numbers__item-number" data-max="730">
          1
        </span>
        <span class="numbers__item-txt">
          Клиентов
        </span>
      </li>

      <li class="numbers__item">
        <span class="numbers__item-number" data-max="1237">
          1
        </span>
        <span class="numbers__item-txt">
          Готовых проектов
        </span>
      </li>
    </ul>
    <div class="numbers__bg"></div>
  </section>