  <section class="numbers">
    <h3 class="numbers__title">О нас в&nbsp;цифрах</h3>
    <ul class="numbers__list">
      <li class="numbers__item">
        <span class="numbers__item-number">
          5
        </span>
        <span class="numbers__item-txt">
          Лет работы
        </span>
      </li>

      <li class="numbers__item">
        <span class="numbers__item-number">
          730
        </span>
        <span class="numbers__item-txt">
          Клиентов
        </span>
      </li>

      <li class="numbers__item">
        <span class="numbers__item-number">
          1237
        </span>
        <span class="numbers__item-txt">
          Готовых проектов
        </span>
      </li>
    </ul>
    <div class="numbers__bg"></div>
  </section>