<div class="popup__bg _request"> 
    <div class="popup">
        <div class="popup__content">
            <img src="../img/arrow-down.svg" class="close-popup">
            ТКТТазошваоимша
        </div>
    </div>
</div>  