<div class="popup__bg info"> 
    <div class="popup">
    <img src="../img/close.svg" class="close-popup">
        <div class="popup__content">

            <div class="popup__form-title">тут будет инфа</div>
    
        </div>
    </div>
</div>  