<div class="popup__bg cms info">
  <div class="popup">
    <img src="../img/close.svg" class="close-popup">
    <div class="popup__content">

      <div class="popup__title h3">Сайты на Tilda</div>

      <div class="popup__subtitle">
        Создадим для всм сайт на одном из самых популярных конструкторах с уникальным дизайном, анимацией, оптимизацией
        для поисковых систем, адаптацией под мобильные устройсвта и удобным интерфейсом.
      </div>

      <div class="popup__card-wrap">

        <div class="popup__card">
            <div class="popup__card-title">Преимущества</div>
            <div class="popup__card-list">
            <div class="popup__card-item">
                <div class="popup__card-item-title">Уникальный дизайн</div>
                <div class="popup__card-item-txt">Мы не используем типовые шаблоны, а создаем уникальный дизайн отдельно и потом загружаем его на Tilda </div>
            </div>

            <div class="popup__card-item">
                <div class="popup__card-item-title">Уникальный дизайн</div>
                <div class="popup__card-item-txt">Мы не используем типовые шаблоны, а создаем уникальный дизайн отдельно и потом загружаем его на Tilda </div>
            </div>


            <div class="popup__card-item">
                <div class="popup__card-item-title">Уникальный дизайн</div>
                <div class="popup__card-item-txt">Мы не используем типовые шаблоны, а создаем уникальный дизайн отдельно и потом загружаем его на Tilda </div>
            </div>

            <div class="popup__card-item">
                <div class="popup__card-item-title">Уникальный дизайн</div>
                <div class="popup__card-item-txt">Мы не используем типовые шаблоны, а создаем уникальный дизайн отдельно и потом загружаем его на Tilda </div>
            </div>
            </div>

        </div>


        <div class="popup__card _cons">
            <div class="popup__card-title">Недостатки</div>
            <div class="popup__card-list">
            <div class="popup__card-item">
                <div class="popup__card-item-title">Уникальный дизайн</div>
                <div class="popup__card-item-txt">Мы не используем типовые шаблоны, а создаем уникальный дизайн отдельно и потом загружаем его на Tilda </div>
            </div>

            <div class="popup__card-item">
                <div class="popup__card-item-title">Уникальный дизайн</div>
                <div class="popup__card-item-txt">Мы не используем типовые шаблоны, а создаем уникальный дизайн отдельно и потом загружаем его на Tilda </div>
            </div>


            <div class="popup__card-item">
                <div class="popup__card-item-title">Уникальный дизайн</div>
                <div class="popup__card-item-txt">Мы не используем типовые шаблоны, а создаем уникальный дизайн отдельно и потом загружаем его на Tilda </div>
            </div>

        </div>

        </div>

      </div>


    </div>
  </div>
</div>