<div class="popup__bg info"> 
    <div class="popup">
{#     <img src="../../img/close.svg" class="close-popup"> #}
        <div class="popup__content">

            <div class="popup__form-title">Сайты на Tilda</div>

            <div class="popup__form-subtitle">
            Создадим для всм сайт на одном из самых популярных конструкторах с уникальным дизайном, анимацией, оптимизацией для поисковых систем, адаптацией под мобильные устройсвта и удобным интерфейсом.
		    </div>

    
        </div>
    </div>
</div>  