<section class="process">
  <div class="process__container container">
    <h3 class="h3 process__title">Как происходит процесс</h3>

    <div class="process__slider">
      <div class="process__slider-wrap">
        <div class="process__slide">
          <div class="process__item">
           
            
            <div class="process__item-info">
               <div class="number">1</div>
              <h5> Исследование вашего
                бизнеса</h5>
  
                <div>Определение целевой аудитории и анализ конкурентов. Определяем  преимущества, особенности и недочёты.</div>
            </div>
             <img src="../img/how-1.png" alt="">
  
          </div>
  
          <div class="process__item">
            

            <div class="process__item-info">
              <div class="number">2</div>
              <h5>  Разработка технического задания</h5>
  
              <div>Определяем структура сайта; требования к дизайну; функциональные возможности ресурса;технологические требования.</div>
            </div>
            <img src="../img/how-2.png" alt="">
          </div>
  
          <div class="process__item">
            <img src="../img/how-3.png" alt="">
  
            <div class="process__item-info">
              <div class="number">3</div>
              <h5>Подпись
                договора</h5>
  
                <div>Определение целевой аудитории и анализ конкурентов. Определяем  преимущества, особенности и недочёты.</div>
            </div>
  
          </div>
  
          <div class="process__item">
            
            <img src="../img/how-4.png" alt="">
  
            <div class="process__item-info">
              <div class="number">4</div>
              <h5>Создание прототипа</h5>
  
                <div> Показываем вам как будет выглядеть ваш сайт и утверждаем с вами структуру. делаем вас более выгодными на фоне конкурентов</div>
            </div>
  
          </div>
  
        </div>

         <div class="process__slide hidden">
          <div class="process__item">
           
            
            <div class="process__item-info">
               <div class="number">5</div>
              <h5> Исследование вашего
                бизнеса</h5>
  
                <div>Определение целевой аудитории и анализ конкурентов. Определяем  преимущества, особенности и недочёты.</div>
            </div>
             <img src="../img/how-1.png" alt="">
  
          </div>
  
          <div class="process__item">
            

            <div class="process__item-info">
              <div class="number">6</div>
              <h5>  Разработка технического задания</h5>
  
              <div>Определяем структура сайта; требования к дизайну; функциональные возможности ресурса;технологические требования.</div>
            </div>
            <img src="../img/how-2.png" alt="">
          </div>
  
          <div class="process__item">
            <img src="../img/how-3.png" alt="">
  
            <div class="process__item-info">
              <div class="number">7</div>
              <h5>Подпись
                договора</h5>
  
                <div>Определение целевой аудитории и анализ конкурентов. Определяем  преимущества, особенности и недочёты.</div>
            </div>
  
          </div>
  
          <div class="process__item">
            
            <img src="../img/how-4.png" alt="">
  
            <div class="process__item-info">
              <div class="number">8</div>
              <h5>Создание прототипа</h5>
  
                <div> Показываем вам как будет выглядеть ваш сайт и утверждаем с вами структуру. делаем вас более выгодными на фоне конкурентов</div>
            </div>
  
          </div>
  
        </div>
      </div>

      <div class="pagination"></div>
      <div class="more">Смотреть далее</div>
    </div>
  </div>
</section>