<section class="requirements">
  <div class="requirements__bg bg">
    <img src="../img/bg-requirements.jpg" alt="">
  </div>
  <div class="requirements__container container">
    <div class="requirements__title-wrap">
      <h3 class="requirements__subtitle h3">Can My Computer Run this game?</h3>
      <h2 class="requirements__title h2">system requirements</h2>
    </div>

    <div class="requirements__list">
      <div class="requirements__item">
        <h3 class="requirements__item-title h3">OS:</h3>
        <div class="requirements__item-txt txt">Windows 7 64-bit only
          (No&nbsp;OSX support at this time)</div>
      </div>

      <div class="requirements__item">
        <h3 class="requirements__item-title h3">pROCESSOR::</h3>
        <div class="requirements__item-txt txt">Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ
        </div>
      </div>


      <div class="requirements__item">
        <h3 class="requirements__item-title h3">mEMORY:</h3>
        <div class="requirements__item-txt txt">8 GB RAM
        </div>
      </div>

      <div class="requirements__item">
        <h3 class="requirements__item-title h3">storage:</h3>
        <div class="requirements__item-txt txt">8 GB available space</div>
      </div>

      <div class="requirements__item _long">
        <h3 class="requirements__item-title h3">GRAPHICS:</h3>
        <div class="requirements__item-txt txt">NVIDIA GeForce GTX 660 2GB or 
          AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</div>
      </div>
    </div>
  </div>
</section>