  <section class="subscribe">
    <div class="subscribe__container container">
      <div class="subscribe__img">
        <img src="../img/img-subscribe.jpg" alt="">
      </div>
      

      <div class="subscribe__right">
        <h3 class="subscribe__subtitle h3">Want to stay in touch?</h3>
        <h2 class="subscribe__title h2">newsletter SUBSCRIBE </h2>
        <div class="subscribe__txt txt">In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don’t spam.</div>

        <form class="subscribe__form" action="">
          <input type="text" placeholder="Your email address">
          <button class="subscribe__btn btn">Subscribe now</button>
        </form>
      </div>
    </div>
  </section>