<section class="tilda">
  <div class="tilda__container">
    <h3 class="tilda__title title-green">Стоимость создания сайтов</h3>
    <div class="tilda__subitle subtitle-green">на Tilda <sup> ?</sup> </div>

    <div class="tilda__list">
      <div class="tilda__item">
        <h5 class="tilda__item-title">Landing <br> page </h5>
        <div class="tilda__item-txt">Одностраничный сайт - быстрое и экономичное решение для продажи определенной услуги или товара. Все содержимое сайта подталкивает пользователя оставить заявку.</div>

        <div class="tilda__item-est">Срок: <span>до 10 дней</span></div>
        <div class="tilda__item-price">100.000 ₸</div>

        <button class="tilda__item-btn btn">Оставить заявку</button>

        <img class="tilda__item-icon" src="../img/price-1.svg" alt="">
      </div>

      <div class="tilda__item">
        <h5 class="tilda__item-title">Корпоративный<br> сайт</h5>
        <div class="tilda__item-txt">Полноценный сайт с посадочными страницами под каждую услугу или категорию товара. Сайт не только принесет заявки, но и подробно расскажет о деятельности вашей компании</div>

        <div class="tilda__item-est">Срок: <span>до 15 дней</span></div>
        <div class="tilda__item-price">180.000 ₸</div>

        <button class="tilda__item-btn btn">Оставить заявку</button>
        <img class="tilda__item-icon" src="../img/price-2.svg" alt="">

      </div>

      <div class="tilda__item">
        <h5 class="tilda__item-title">Интернет <br>магазин</h5>
        <div class="tilda__item-txt">Сайт с объемным и удобным каталогом товаров, корзиной, вариантами доставки и возможностью онлайн оплаты. Есть удобная админ-панель. Готов к seo-продвижению.</div>

        <div class="tilda__item-est">Срок: <span>до 25 дней</span></div>
        <div class="tilda__item-price">230.000 ₸</div>

        <button class="tilda__item-btn btn">Оставить заявку</button>

        <img class="tilda__item-icon" src="../img/price-3.svg" alt="">
      </div>
    </div>
  </div>
</section>