  <section class="what">
    <div class="what__bg bg">
      <img src="../img/bg-what.jpg" alt="">
    </div>

    <div class="what__container container">
      <div class="what__info">
        <h3 class="what__info-subtitle h3">What is SOS?</h3>
        <h2 class="what__info-title h2">social battle <br> royale game</h2>
        <div class="what__info-txt txt"> Each round, <b>you </b> and <b>15 </b> other contestants compete to
          escape a deadly island filled with monsters. The trick is:  <b>three</b> people can survive. Will you run
          solo or form friendships with others to escape? 
          <br>
          <br>
          Making the right decisions could be the
          difference between <span>life and death.</span>
        </div>
      </div>


      <div class="what__slider slider">
        <div class="slider__inner"> 
          <div class="slider__slide">
            <img src="../img/slider1.jpg" alt="slider1">
          </div>
        </div>

        <div class="slider__pagination"></div>
      </div>
    </div>
  </section>