  <section class="works">
    <div class="works__container">
      <h3 class="h3">Наши работы</h3>
      <ul class="works__list">
        <li class="works__item _left _1">
          <div class="works__item-img">
            <img class="works__img-1" src="../img/work-1.png" alt="">
             <div class="works__item-bg _1"></div>
          </div>

          <div class="works__item-info">
            <h4 class="works__item-title h4">Сайт по продаже плюшевых медведей </h4>
            <div class="works__item-txt">
              Красивый  и продающий сайт в ярких цветах, который привлекает внимание посетителей.
              На сайте представлен каталог игрушек, изображений, описания каждого медведя, есть ясная и удобная система заказа. 
            </div>

            <a class="works__item-link btn" href="">Перейти на сайт</a>
          </div>

        </li>

        <li class="works__item _rigth _2">

        <div class="works__item-img">
            <img class="works__img-2" src="../img/work-2.png" alt="">
            <div class="works__item-bg _2"></div>
          </div>

          <div class="works__item-info">
            <h4 class="works__item-title h4">Лендинг по ремонту помещений под ключ  </h4>
            <div class="works__item-txt">
             Удобный и элегантный лендинг, который содержит всю необходимую информацию по услугам и компании.
              Иллюстрации выполненных работ и максимальноевниманиее к деталям
            </div>

            <a class="works__item-link btn" href="">Перейти на сайт</a>
          </div>

      

        </li>

        <li class="works__item _left _3">
          <div class="works__item-img">
            <img class="works__img-3" src="../img/work-3.png" alt="">
             <div class="works__item-bg _3"></div>
          </div>

          <div class="works__item-info">
            <h4 class="works__item-title h4">Лендинг по ремонту помещений под ключ </h4>
            <div class="works__item-txt">
              Красивый  и продающий сайт в ярких цветах, который привлекает внимание посетителей.
              На сайте представлен каталог игрушек, изображений, описания каждого медведя, есть ясная и удобная система заказа. 
            </div>

            <a class="works__item-link btn" href="">Перейти на сайт</a>
          </div>

        </li>

        <li class="works__item _rigth _4">

              <div class="works__item-img">
            <img src="../img/work-4.png" class="works__img-4" alt="">
            <div class="works__item-bg _4"></div>
          </div>

          <div class="works__item-info">
            <h4 class="works__item-title h4">Сайт для химчистки мягкой мебели</h4>
            <div class="works__item-txt">
              Многофункциональный сайт по химчистке мягкой мебели на дому, Особое внимание уделено UI/UX, прослежен каждый шаг пользователя, триггерные точки для захвата лида.
            </div>

            <a class="works__item-link btn" href="">Перейти на сайт</a>
          </div>

      

        </li>
      </ul>
    </div>
  </section>