  <section class="works">
    <div class="works__container">
      <h3 class="h3">Наши работы</h3>
      <ul class="works__list">
        <li class="works__item _left ">
          <div class="works__item-img">
            <img src="../img/work-1.png" alt="">
             <div class="works__item-bg"></div>
          </div>

          <div class="works__item-info">
            <h4 class="works__item-title h4">Сайт по продаже плюшевых медведей </h4>
            <div class="works__item-txt">
              Красивый  и продающий сайт в ярких цветах, который привлекает внимание посетителей.
              На сайте представлен каталог игрушек, изображений, описания каждого медведя, есть ясная и удобная система заказа. 
            </div>

            <a class="works__item-link btn" href="">Перейти на сайт</a>
          </div>

        </li>

        <li class="works__item _rigth ">
          <div class="works__item-info">
            <h4 class="works__item-title h4">Лендинг по ремонту помещений под ключ  </h4>
            <div class="works__item-txt">
             Удобный и элегантный лендинг, который содержит всю необходимую информацию по услугам и компании.
              Иллюстрации выполненных работ и максимальноевниманиее к деталям
            </div>

            <a class="works__item-link btn" href="">Перейти на сайт</a>
          </div>

          <div class="works__item-img">
            <img src="../img/work-2.png" alt="">
            <div class="works__item-bg"></div>
          </div>

        </li>

        <li class="works__item _left ">
          <div class="works__item-img">
            <img src="../img/work-3.png" alt="">
             <div class="works__item-bg"></div>
          </div>

          <div class="works__item-info">
            <h4 class="works__item-title h4">Лендинг по ремонтупомещений под ключ </h4>
            <div class="works__item-txt">
              Красивый  и продающий сайт в ярких цветах, который привлекает внимание посетителей.
              На сайте представлен каталог игрушек, изображений, описания каждого медведя, есть ясная и удобная система заказа. 
            </div>

            <a class="works__item-link btn" href="">Перейти на сайт</a>
          </div>

        </li>

        <li class="works__item _rigth ">
          <div class="works__item-info">
            <h4 class="works__item-title h4">Сайт для химчисткимягкой мебели</h4>
            <div class="works__item-txt">
              Многофункциональный сайт по химчистке мягкой мебели на дому, Особое внимание уделено UI/UX, прослежен каждый шаг пользователя, триггерные точки для захвата лида.
            </div>

            <a class="works__item-link btn" href="">Перейти на сайт</a>
          </div>

          <div class="works__item-img">
            <img src="../img/work-4.png" alt="">
            <div class="works__item-bg"></div>
          </div>

        </li>
      </ul>
    </div>
  </section>