$p: '.accordion';

#{$p} {
  &__item {
    margin-bottom: rem(27px);

    &-btn {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      &:hover {
        cursor: pointer;
      }
    }

    &-svg {
      margin-right: rem(32px);
      margin-bottom: rem(6px);
      position: relative;
    }

    &-title {
      position: relative;
      font-family: $s-font-title;
      font-weight: 700;
      font-size: rem(36px);
      line-height: rem(36px);
      letter-spacing: 2px;
      color: $s-accent;
    }

    &-content {
      width: 0;
      height: 0;
      overflow: hidden;
      visibility: hidden;
      pointer-events: none;
      padding-left: rem(47px);
      
    }

    &._active {
      #{$p} {
        &__item {

          &-svg {
            svg {
              circle {
                fill: #fff;
              }
            }

            &::after {
              content: '';
              position: absolute;
              width: 1px;
              height: 100%;
              background-color: #fff;
              top: rem(15px);
              left: 50%;
              transform: translateX(-50%);
            }
          }
          &-content {
            width: 100%;
            max-width: rem(357px);
            height: max-content;
            visibility: visible;
            padding-top: rem(6px);
          }
        }
      }
    }

    &:last-child {
      .accordion__item-svg {
        &::after {
          display: none;
        }
      }
    }
  }
}