$b: '.select';

#{$b} {
  &__list {
    display: none;
  }

  &__btn {
    color: #fff;
    text-transform: uppercase;
    position: relative;
    display: flex;
    align-items: center;
    font-size: rem(18px);

    svg {
      margin-left: 8px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}