$b: '.advantages';

#{$b} {
  margin-bottom: rem(120px);

  @include mobile {
    margin-bottom: rem(70px);
  }
  
  &__list {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    row-gap: rem(60px);

    @include tablet {
      grid-template-columns: repeat(1, 1fr);
      row-gap: rem(40px);
    }
  }

  &__item {
    position: relative;
    padding-left: rem(100px);

    @include tablet {
      padding-left: rem(100px);
    }

    @include mobile {
      padding-left: rem(80px);
    }

    &:last-child {
      margin-right: 0;
    }

    &-icon {
      width: rem(65px);
      height: rem(65px);
      left: 0;
      position: absolute;

      @include tablet {
        width: rem(45px);
        height: rem(45px);
      }
    }

    &-title {
      font-family: $e-font-bold;
      font-weight: 700;
      font-size: rem(18px);
      line-height: rem(24px);
      color: #222;
      width: 100%;
      margin-bottom: rem(15px);

      @include tablet {
        font-size: rem(18px);
        line-height: rem(24px);
        margin-bottom: rem(10px);
      }
    }

    &-txt {
      font-family: $e-font-regular;
      font-weight: 400;
      font-size: rem(14px);
      line-height: rem(17px);
      width: rem(340px);

      @include mobile {
        width: rem(250px);
      }
    }
  }
}