$b: '.advantages';

#{$b} {
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: rem(60px);
  }

  &__item {
    // max-width: rem(360px);
    margin-right: rem(125px);
    position: relative;
    padding-left: rem(100px);

    &:last-child {
      margin-right: 0;
    }

    &-icon {
      width: rem(65px);
      height: rem(65px);
      left: 0;
      position: absolute;
    }

    &-title {
      font-family: $e-font-bold;
      font-weight: 700;
      font-size: rem(20px);
      line-height: rem(24px);
      color: #222;
      width: 100%;
      margin-bottom: rem(15px);
    }

    &-txt {
     
    }
  }
}