$b: '.faq';

#{$b} {
  margin-bottom: rem(120px);

  @include mobile {
    margin-bottom: rem(80px);
  }
  
  &__title {
    width: rem(360px);
    margin-right: auto;
    margin-left: auto;

    @include mobile {
      width: 100%;
      margin-bottom: rem(40px);
      font-size: rem(32px);
      line-height: rem(48px);
    }
  }

  &__item {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      right: 0;
      top: rem(33px);
      width: rem(25px);
      height: rem(15px);
      background-image: url('../../img/arrow-down.svg');
      background-size: contain;
      background-repeat: no-repeat;

      @include mobile {
        width: rem(22px);
        height: rem(12px);
        top: rem(23px);
      }
    }

    &-question {
      font-family: $e-font-semiBold;
      padding: rem(20px) 0;
      font-size: rem(20px);
      line-height: rem(24px);
      color: #3D3D3D;
      border-bottom: 1px solid #989898;

      @include mobile {
        font-family: $e-font-medium;
        padding: rem(15px) 0;
        font-size: rem(16px);
        line-height: rem(22px);
      }
    }

    &-answer {
      font-family: $e-font-regular;
      font-size: rem(14px);
      line-height: rem(17px);
      padding: rem(20px) 0;
      border-bottom: 1px solid #989898;
    }
  }
}