$b: '.footer';

#{$b} {
  font-family: $e-font-semiBold;
  font-weight: rem(12px);
  line-height: rem(16px);
  background: linear-gradient(270deg, #33615D 0%, #5AA27F 100%);
  color: #fff;

  &__container {
    padding-top: rem(10px);
    padding-bottom: rem(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__left {
    display: flex;
    align-items: center;

    img {
      width: rem(90px);
      height: rem(90px);
      margin-right: rem(30px);
    }

    &-info {
      display: flex;
      flex-direction: column;

      span {
        &:first-child {
          margin-bottom: rem(10px);
        }
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-end;

    a {
      text-align: right;
      &:first-child {
        margin-bottom: rem(10px);
      }
    }
  }
}
