$b: '.footer';

#{$b} {
  font-family: $e-font-semiBold;
  font-size: rem(12px);
  line-height: rem(16px);
  background: linear-gradient(270deg, #33615D 0%, #5AA27F 100%);
  color: #fff;

  @include mobile {
    font-size: rem(10px);
    line-height: rem(13px);
  }

  &__container {
    padding-top: rem(10px);
    padding-bottom: rem(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mobile {
      padding-top: rem(10px);
      padding-bottom: rem(10px);
      align-items: flex-end;
    }
  }

  &__left {
    display: flex;
    align-items: center;


    @include mobile {
      flex-direction: column;
      align-items: flex-start;
    }

    img {
      width: rem(90px);
      height: rem(90px);
      margin-right: rem(30px);

      @include mobile {
        width: rem(50px);
        height: rem(50px);
        margin-right: 0;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;

      span {
        &:first-child {
          margin-bottom: rem(10px);

          @include mobile {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-end;

    a {
      text-align: right;
      &:first-child {
        margin-bottom: rem(10px);

        @include mobile {
          margin-bottom: rem(5px);
        }
      }
    }
  }
}
