$b: '.form';

#{$b} {
  padding: rem(80px) 0;
  background-image: url('../../img/footer-bg.png');
  background-size: cover;

  @include tablet {
    overflow: hidden;
    padding: rem(60px) 0;
  }

  &__title {
    width: rem(587px);
    margin-right: auto;
    margin-left: auto;
    color: #fff;
    margin-bottom: rem(93px);
    font-family: $e-font-bold;
    font-size: rem(32px);
    line-height: rem(39px);

    @include tablet {
      font-size: rem(28px);
      line-height: rem(32px);
      margin-bottom: rem(50px);
    }

    @include tablet {
      width: 90%;
      font-size: rem(22px);
      line-height: rem(28px);
      margin-bottom: rem(30px);
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @include tablet {
      justify-content: center;
      padding-bottom: rem(100px);
    }
  }

  form {
    background-color: #3D8A65;
    border-radius: rem(20px);
    padding: rem(32px) rem(32px) rem(80px) rem(32px);
    display: flex;
    flex-direction: column;

    @include tablet {
      padding: rem(24px) rem(24px) rem(50px) rem(24px);
    }

    @include mobile {
      // width: 100%;
    }
  }

  &__right {
    @include tablet {
      position: absolute;
      right: 0;
      bottom: rem(-50px);
      width: rem(350px);
      height: rem(350px);
    }
  }

  &__left {
    position: relative;
    z-index: 5;

    @include mobile {
      width: 100%;
    }

    &-title {
      text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.4);
      color: #fff;
      font-family: $e-font-bold;
      font-size: rem(20px);
      line-height: rem(24px);
      margin-bottom: rem(60px);
      width: rem(210px);
      margin-right: auto;
      margin-left: auto;
      text-align: center;

      @include mobile {
        margin-bottom: rem(30px);
      }
    }

    &-input {
      font-family: $e-font-regular;
      font-size: rem(14px);
      line-height: rem(14px);
      height: rem(52px);
      background-color: #fff;
      padding: 0 rem(20px);
      outline: none;
      border: none;
      border-radius: rem(10px);
      width: rem(350px);
      margin-bottom: rem(30px);

      @include mobile {
        width: 95%;
        padding-right: 0;
        padding-left: rem(15px);
        margin-bottom: rem(15px);
      }

      &:nth-child(3) {
        margin-bottom: rem(15px);

        @include mobile {
          margin-bottom: rem(10px);
        }
      }

      &::placeholder {
        font-family: $e-font-regular;
        font-size: rem(10px);
        line-height: rem(14px);
      }
    }

    &-policy {
      color: #fff;
      font-family: $e-font-regular;
      font-size: rem(10px);
      line-height: rem(14px);
      margin-bottom: rem(50px);

      @include mobile {
        margin-bottom: rem(25px);
      }
    }

    &-btn {
      height: rem(52px);
      border-radius: rem(10px);
      color: #3D8A65;
      background-color: #fff;
      width: rem(300px);
      font-family: $e-font-bold;
      font-size: rem(16px);
      line-height: rem(20px);
      margin-right: auto;
      margin-left: auto;

      @include mobile {
        width: 100%;
      }
    }
  }

  label {
    display: flex;
    align-items: center;
  }

  .checkbox {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    pointer-events: none;
    visibility: hidden;

    & + label {
      position: relative;
      cursor: pointer;
    }

    & + label:before {
      content: '';
      margin-right: rem(8px);
      display: inline-block;
      vertical-align: text-top;
      width: rem(15px);
      height: rem(15px);
      // background: white;
      border: 1px solid #fff;
      border-radius: rem(4px);
    }

    &:checked + label:after {
      content: '';
      position: absolute;
      left: rem(4px);
      top: rem(7px);
      background: white;
      width: rem(2px);
      height: rem(2px);
      box-shadow: 
        2px 0 0 white,
        4px 0 0 white,
        4px -2px 0 white,
        4px -4px 0 white,
        4px -6px 0 white,
        4px -8px 0 white;
      transform: rotate(45deg);
    }
  }
}