$b: '.header';

#{$b} {
  font-family: $e-font-semiBold;
  position: relative;
  z-index: 10;
  background: linear-gradient(270deg, #33615D 0%, #5AA27F 100%);
  color: #fff;
  height: rem(70px);
  position: fixed;
  top: 0;
  width: 100%;

  @include mobile {
    overflow: initial;
    height: rem(40px);
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;

    @include mobile {
      padding: 0 rem(15px);
      justify-content: space-between;
      position: relative;
 /*      width: 100%; */
    }
  }

  &__logo {
    width: rem(150px);
    margin-right: auto;
    font-family: 'Inter-Bold';
    font-size: rem(20px);

    span {
      color: #0a2b1b;
    }

    @include tablet {
      width: rem(70px);
      font-size: rem(14px);
    }

    @include mobile {
      width: rem(150px);
      font-size: rem(14px);
      margin-right: rem(15px);
    }

  }

  &__nav {
    display: flex;
    margin-right: rem(30px);
    align-items: center;
    margin-right: rem(80px);

    @include tablet {
      margin-right: rem(30px);
    }

    @include mobile {
      transition: all 0.3s ease-in-out;
      opacity: 0;
      visibility: hidden;
      right: -100px;
      position: absolute;
      top: 0;
      width: 0;
      flex-direction: column;
      background-color:  rgba(0,0,0,.5);
      z-index: 15;
      height: rem(500px);
      border-bottom-left-radius:rem(20px) ;
      border-bottom-right-radius:rem(20px) ;
      padding-top: rem(30px);
    }
  }

  &__link {
    font-family: $e-font-semiBold;
    font-size: rem(16px);
    color: #fff;
    margin-right: rem(30px);

    @include tablet {
      font-size: rem(12px);
      margin-right: rem(15px);
    }

    @include mobile {
      margin-right: 0;
      margin-bottom: rem(30px);
      font-size: rem(18px);
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__left {
    display: flex;
    align-items: center;

    a {
      margin-right: rem(25px);

      @include tablet {
        font-size: rem(12px);
        margin-right: rem(15px);
      }

      @include mobile {
        font-size: rem(12px);
        margin-right: 0;
      }
    }

    @include mobile {
      flex-direction: column;
    }
  }

  &__btn {
    color: #fff;
    font-family: $e-font-medium;
    font-size: rem(140px);
    height: rem(35px);
    padding: 0 rem(10px);
    font-size: rem(14px);
    border: 1px solid #FFFFFF;
    border-radius: rem(15px);

    @include tablet {
      font-size: rem(12px);
      padding: 0 rem(8px);
    }

    @include mobile {
      border: none;
      padding: 0;
      height: rem(20px);
      font-size: rem(12px);
    }
  }

  .burger {
    display: none;

    @include mobile {
      display: block;
      width: 30px;
      height: 15px;
      // color: #5AA27F;
      z-index: 20;
      position: absolute;
      right: rem(30px);
      top: rem(55px);

      span {
        height: 2px;
        background-color: #cdcdcd;
        position: absolute;
        left: 0;
        transition: all 0.3s ease-in;

        &:nth-child(1) {
          width: 100%;
          top: 0;
        }

        &:nth-child(2) {
          width: 70%;
          top: 50%;
        }

        &:nth-child(3) {
          width: 100%;
          top: initial;
          bottom: -10%;
        }

      }
    }
  }

  &.active {
    .header__nav {
      padding-top: rem(120px);
      display: flex;
      transition: all 0.3s ease-in-out;
      opacity: 1;
      visibility: visible;
      right: rem(-30px);
      width: 100%;
      height: 100vh;
    }

    .header__link {
      color: #222;
      background-color: #fff;
      padding: rem(15px);
      margin-bottom: rem(2px);
      width: 60%;
      border-radius: rem(4px);
      text-align: center;
    }

    .burger {

      right: rem(30px);
      width: rem(30px);
      height: rem(30px);
      span {
        height: 2px;
        background-color: #fff;
        position: absolute;
        left: 0;
        transition: all 0.3s ease-in;
   

        &:nth-child(1) {
          transform: rotate(-45deg);
        }

        &:nth-child(2) {
          opacity: 0;
          height: 0;
          visibility: hidden;
        }

        &:nth-child(3) {
          top: 0;
          transform: rotate(45deg);
        }

      }
    }
  }
}
