$b: '.header';

#{$b} {
  font-family: 'BebasNeueBold';
  position: relative;
  z-index: 10;

  &__container {
    display: flex;
    align-items: center;
    padding: rem(10px) rem(120px);
  }

  &__logo {
    display: flex;
    width: rem(56px);
    height: rem(56px);
    margin-right: rem(166px);
  }

  &__nav-list {
    display: flex;
  }

  &__nav-item {
    font-size: rem(18px);
    text-transform: uppercase;
    color: #fff;
    margin-right: rem(32px);

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__rigth {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__select {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      right: rem(-22px);
      width: 1px;
      height: 100%;
      color: #fff;
      top: 0;
      background-color: #fff;
      opacity: 0.5;
    }
  }

  &__store {
    margin-left: rem(48px);
    display: flex;
  }

  &__store-link {
    width: rem(30px);
    height: rem(30px);
    text-decoration: none;
    display: flex;
    
    &:first-child {
      margin-right: rem(17px);
    }
  }
}
