$b: '.hero';

#{$b} {
  position: relative;
  margin-bottom: rem(100px);
  background-color: #1D4033;

  @include tablet {
    margin-bottom: rem(50px);
  }

  &__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: rem(185px);
    padding-bottom: rem(205px);
    max-width: rem(1400px);
    margin-left: auto;
    margin-right: auto;

    @include tablet {
      padding-top: rem(70px);
      padding-bottom: rem(100px);
    }

    @include mobile {
      padding-top: rem(70px);
      padding-bottom: rem(70px);
    }
  }

  &__left {
    max-width: rem(560px);
    position: relative;
    z-index: 5;
  }

  &__right {
    width: rem(505px);
    height: rem(505px);

    @include tablet {
      width: rem(335px);
      height: rem(335px);
      position: absolute;
      right: rem(40px);
      top: rem(140px);
    }

    @include mobile {
      width: rem(235px);
      height: rem(235px);
      right: rem(10px);
      top: rem(240px);
    }

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    } 
  }

  &__btn {
    color: #fff;
    background: linear-gradient(270deg, #2A5964 0%, #6DBE7F 96.28%);
    box-shadow: 0px rem(4px) rem(1px) #1D4033, rem(4px) rem(5px) rem(1px) #1D4033;
    border-radius: rem(10px);
    height: rem(50px);
    padding: 0 rem(33px);
    font-family: 'MontserratAlternates-SemiBold';
    font-weight: 600;
    font-size: rem(16px);
    line-height: rem(20px);
    transition: background-color 0.3s ease-in ;

    &:hover {
      background: linear-gradient(272.33deg, #6DBE7F 3.38%, #2A5964 100%);
      transition: all 0.5s ease-in ;
    }
  }
}