$b: '.process';

#{$b} {
  margin-bottom: rem(120px);

  &__container {
    @include tablet {
      padding: 0 rem(60px);
    }
  }

  &__slide {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: rem(100px);
    column-gap: rem(40px);

    @include tablet {
      grid-template-columns: repeat(1, 1fr);
      row-gap: rem(40px);
      column-gap: 0;
    }

    &.hidden {
      opacity: 0;
      height: 0;
      width: 0;
      visibility: hidden;
      pointer-events: none;
      position: absolute;
      z-index: -10;
      overflow: hidden;
    }
  }

  &__item {
    display: flex;

    @include tablet {
      justify-content: center;
      align-items: center;
    }

    &:nth-child(even) {
      img {
        order: -1;
      }
    }

    &:nth-child(odd) {
      img {
        order: 5;
      }
    }

    .number {
      top: rem(-30px);
      position: absolute;
      font-family: $e-font-bold;
      font-size: rem(60px);
      line-height: rem(73px);
      color: #3D8A65;
      left: rem(10px);

      @include tablet {
        font-size: rem(55px);
        line-height: rem(66px);
        left: rem(30px);
        top: rem(-50px);
      }
    }

    &-info {
      text-align: center;
      width: 50%;
      padding: 0 rem(10px);
      position: relative;

      @include tablet {
        padding: 0 rem(20px);
      }

      h5 {
        font-family: $e-font-bold;
        font-size: rem(16px);
        line-height: rem(20px);
        margin-bottom: rem(20px);
        max-width: rem(150px);
        margin-right: auto;
        margin-left: auto;
      }

      div {
        font-family: $e-font-regular;
        font-size: rem(12px);
        line-height: rem(15px);
      }
    }
  }

  .more {
    font-family: $e-font-bold;
    font-size: rem(24px);
    line-height: rem(29px);
    color: #4D4D4D;
    margin-top: rem(60px);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: none;

    &:hover {
      cursor: pointer;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: rem(-30px);
      left: 50%;
      width: rem(38px);
      height: rem(16px);
      background-image: url('../../img/arrow-down-2.svg');
      background-size: contain;
      background-repeat: no-repeat;
      transform: translateX(-50%);
    }

    @include tablet {
      display: block;
    }
  }
}