$b: '.subscribe';

#{$b} {
  &__container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: rem(100px);
  }

  &__img {
    height: rem(700px);
    max-width: rem(450px);

    img {
      height: 100%;
      width: auto;
    }
  }

  &__right {
    margin-left: rem(70px);
    max-width: rem(680px);
  }

  &__subtitle {
    margin-bottom: rem(10px);
  }

  &__title {
    margin-bottom: rem(45px);
  }

  &__txt {
    margin-bottom: rem(60px);
  }

  &__form {
    display: flex;

    input {
      background: rgba(255, 255, 255, 0.08);
      border-radius: rem(5px);
      color: $s-accent;
      outline: none;
      border: none;
      width: rem(323px);
      padding: 0 rem(22px);
      margin-right: rem(18px);

      &::placeholder {
        opacity: 0.5;
        color: #fff;
        font-size: rem(14px);
        line-height: rem(19px);
        font-family: $s-font-textn;
      }
    }

    button {
      width: rem(260px);

      &:hover {
        cursor: pointer;
      }
    }
  }
}
