$b: '.tilda';

#{$b} {
  margin-bottom: rem(135px);

  @include tablet {
    margin-bottom: rem(85px);
  }

  @include mobile {
    // margin-bottom: rem(35px);
  }

  &__container {
    // padding: 0 rem(160px);

    @include tablet {
      padding: 0 rem(40px);
    }

    @include mobile {
      padding: 0 rem(15px);
    }
  }

  &__title {
    @include mobile {
      font-size: rem(32px);
      line-height: rem(42px);
      margin-bottom: rem(10px);
    }
  }

  &__subtitle {
    @include mobile {
      font-size: rem(22px);
      line-height: rem(28px);
      margin-bottom: rem(50px);
    }

    &._cms {
      @include mobile {
        width: 100%;
      }
    }
  }


  &__list {
    display: flex;
    justify-content: center;

    @include tablet {
     flex-direction: column;
    }
  }

  &__item {
    padding: 0 rem(23px);
    background-image: url('../../img/carg-bg.png');
    height: rem(480px);
    background-repeat: no-repeat;
    background-size: cover;
    width: rem(295px);
    margin-right: rem(58px);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: rem(15px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    @media(max-width: 1325px) {
      margin-right: rem(25px);
    }

    @include tablet {
      margin-right: auto !important;
      margin-left: auto;
      width: rem(450px);
      height: rem(450px);
      padding: 0 rem(20px);
      margin-bottom: rem(100px);
      align-items: center;
     }

     @include mobile {
      width: 100%;
      padding: 0;
     }


    &:last-child {
      margin-right: 0;

      @include tablet {
        margin-bottom: 0;
        margin-right: auto;
       }
    }

    &-title {
      font-family: $e-font-bold;
      color:  #3D8A65;
      font-size: rem(28px);
      line-height: rem(34px);
      text-align: center;
      margin-bottom: rem(30px);
    }

    &-txt {
      font-family: $e-font-regular;
      font-size: rem(14px);
      line-height: rem(17px);


    @include tablet {
      text-align: center;
      width: 80%;
     }
    }

    &-row {
      @include tablet {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 80%;
       }

       @include mobile {
        flex-direction: column;
        align-items: center;
       }
    }

    &-est {
      font-family: $e-font-regular;
      font-size: rem(16px);
      line-height: rem(20px);
      margin-top: rem(52px);

      span {
        color: #3D8A65;
        font-family: $e-font-bold;
      }
    }

    &-price {
      font-family: $e-font-semiBold;
      font-size: rem(22px);
      line-height: rem(27px);
      margin-top: rem(15px);

      @include tablet {
        margin-top: 0;
      }

      @include mobile {
        margin-top: rem(10px);
      }
    }

    &-btn {
      font-family: $e-font-semiBold;
      font-size: rem(14px);
      line-height: rem(17px);
      text-transform: uppercase;
      color: #fff;
      background: linear-gradient(93.09deg, #6DBE7F 0.55%, #1BA5D9 100%);
      border-radius: rem(7px);
      height: rem(45px);
      width: 100%;
      margin-top: rem(45px);

      @include tablet {
        width: 80%;
       }
    }

    &-icon {
      position: absolute;
      top: rem(-35px);
      right: rem(-25px);
      object-fit: contain;
      width: rem(68px);
      height: rem(68px);

      @include mobile {
        width: rem(48px);
        height: rem(48px);
        top: rem(-25px);
        right: rem(-10px);
       }
    }
  }

  &._cms {
    .tilda__subitle {
      max-width: rem(600px);
      line-height: 150%;
      border-bottom: none;

      span {
        border-bottom: 1px dashed #3D8A65 ;
      }
    }
  }
}