$b: '.we';

#{$b} {
  background-image: url('../../img/why-we-bg.png');
  background-size: cover;
  margin-bottom: rem(120px);

  @include tablet {
    margin-bottom: rem(80px);
  }

  @include mobile {
    background-size: cover;
  }

  &__container {
    padding-top: rem(50px);
    padding-bottom: rem(100px);

    @include tablet {
      padding-top: rem(30px);
    }

    @include mobile {
      padding-top: rem(30px);
    }
  }

  &__title {
    font-family: $e-font-bold;
    font-size: rem(58px);
    line-height: rem(71px);
    text-align: center;
    color: #fff;
    margin-bottom: rem(90px);

    @include tablet {
      margin-bottom: rem(80px);
      font-size: rem(48px);
      line-height: rem(58px);
    }

    @include mobile {
      margin-bottom: rem(50px);
      font-size: rem(42px);
      line-height: rem(54px);
    }
  }

  &__list {
    display: flex;
    align-items: flex-start;

    @include tablet {
      flex-wrap: wrap;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: rem(25px);
    color: #fff;
    text-align: center;

    @include tablet {
      margin-right: 0;
      width: 50%;
      margin-bottom: rem(60px);
    }

    @include mobile {
       width: 100%;
       margin-bottom: rem(40px);
    }

    &:last-child {
      margin-right: 0;
    }

    &-icon {
      width: rem(75px);
      height: rem(75px);
      margin-bottom: rem(20px);

      svg {
        width: 100%;
        height: 100%;
      }
    }

    &-title {
      font-family: $e-font-bold;
      font-size: rem(22px);
      line-height: rem(29px);
      margin-bottom: rem(20px);
    }

    &-txt {
      font-family: $e-font-regular;
      font-size: rem(14px);
      line-height: rem(17px);
      width: 85%;

      @include tablet {
        width: 80%;
      }
    }
  }
}