$b: '.what';
$s: '.slider';


#{$b} {
  position: relative;
  margin-bottom: rem(90px);
  padding-bottom: rem(142px);

  &__bg {
    transform: translateY(rem(-100px));
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    width: 50%;
    flex-shrink: 0;

    &-title {
      margin-bottom: rem(72px);
      position: relative;

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        background-color: #fff;
        height: rem(4px);
        border-radius: rem(4px);
        bottom: rem(-10px);
        left: 0;
      }
    }

    &-subtitle {
      margin-bottom: rem(10px);
    }

    &-txt {
      max-width: rem(365px);
      margin-left: auto;

      b {
        font-weight: 700;
        font-family: $s-font-textb;
      }

      span {
        display: inline-block;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          width: 100%;
          background-color: $s-accent;
          height: rem(6px);
          bottom: rem(2px);
          left: 0;
          z-index: -1;
        }
      }
    }
  }
}
#{$s} {

  &__slide {
   height: rem(610px);
   width: rem(502px);
   border-radius: rem(4px);
   overflow: hidden;
  }

  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
  }
}
