@use 'sass:math';
@import 'scale/scale.scss'; 
@import 'scale/breakpoints.scss'; 
@import 'scale/settings.scss'; 

$root-font-size: 100;
$wide-desktop-width: 1600px;
$desktop-width: 1340px;
$middle-desktop-width: 1280px;
$low-desktop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 560px;

html {
  font-size: #{$root-font-size}px;

  @include low-desktop {
    $min-screen-width: 415;
    $mid-screen-width: 1440;

    @include css-lock(#{calc($min-screen-width * $root-font-size / $mid-screen-width)}, $root-font-size, $min-screen-width, $mid-screen-width);
  }

  @include tablet-only {
    $mid-screen-width: 768;
    $max-screen-width: 1023;

    @include css-lock(
      $root-font-size, #{$root-font-size * calc($max-screen-width / $mid-screen-width)},
      $mid-screen-width,
      $max-screen-width
    );
  }

  @include mobile {
    $min-screen-width: 300;
    $mid-screen-width: 320;
    $max-screen-width: 414;

    @include css-lock-full(#{calc($min-screen-width * $root-font-size / $mid-screen-width)}, $root-font-size, #{calc($max-screen-width * $root-font-size / $mid-screen-width)}, $min-screen-width, $mid-screen-width, $max-screen-width);
  }
}

svg {
  display: inline-block;
/*   width: 100%;
  height: 100%; */
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #000;
  font-size: rem(18px);
  color: #fff;
  height: 100%;
}

// отличные от проекта настройки
.container {
  max-width: rem(1440px);
  margin: 0 auto;
  padding: 0 rem(120px);
}

.h2 {
  font-weight: 700;
  font-size: rem(80px);
  line-height: rem(80px);
  text-transform: uppercase;
  font-family: $s-font-title;
}

.h3 {
  font-weight: 700;
  font-size: rem(24px);
  line-height: rem(24px);
  text-transform: uppercase;
  font-family: $s-font-title;
}

.txt {
  font-weight: 400;
  font-size: rem(18px);
  line-height: rem(22px);
  font-family: $s-font-textn;
}

.btn {
  background-color: $s-accent;
  color: $s-text;
  padding: 0 rem(18px);
  height: rem(60px);
  font-family: $s-font-textb;
  font-weight: 700;
  font-size: rem(16px);
  line-height: rem(22px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: rem(4px);
  border: none;

  &--price {
    span {
      opacity: 0.5;
      border: 1px solid #1A1917;
      height: rem(23px);
      display: flex;
      margin: 0 rem(13px);
    }
  }
}

.bg {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -1;
  top: 0;
  right: 0;

  img {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
}

