@use 'sass:math';
@import 'scale/scale.scss'; 
@import 'scale/settings.scss'; 
@import 'scale/breakpoints.scss'; 

$root-font-size: 100;
$wide-desktop-width: 1920px;
$desktop-width: 1440px;
$low-desktop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 360px;

html {
  font-size: #{$root-font-size}px;

  @include tablet {
    $mid-screen-width: 768;
    $max-screen-width: 1023;

    @include css-lock(
      $root-font-size, #{$root-font-size * calc($max-screen-width / $mid-screen-width)},
      $mid-screen-width,
      $max-screen-width
    );
  }

  @include mobile {
    $min-screen-width: 300;
    $mid-screen-width: 360;
    $max-screen-width: 767;

    @include css-lock-full(#{calc($min-screen-width * $root-font-size / $mid-screen-width)}, $root-font-size, #{calc($max-screen-width * $root-font-size / $mid-screen-width)}, $min-screen-width, $mid-screen-width, $max-screen-width);
  }
}

main, header, footer {
  overflow: hidden;
}

svg {
  display: inline-block;
/*   width: 100%;
  height: 100%; */
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #fff;
  font-size: rem(14px);
  line-height: 120%;
  color: #222;
  height: 100%;
}

// отличные от проекта настройки
.container {
  max-width: rem(1440px);
  margin: 0 auto;
  padding: 0 rem(162px);


  @media(max-width: 1325px) {
    padding-right: rem(40px);
    padding-left: rem(40px);
  }


  @include tablet {
    padding: 0 rem(40px);
    max-width: rem(1023px);
  }

  @include mobile {
    padding: 0 rem(15px);
    max-width: rem(767px);
  }
}

.h1 {
  font-family: $e-font-bold;
  font-weight: 700;
  font-size: rem(58px);
  line-height: 100%;
  margin-bottom: rem(30px);
  color: #fff;

  @include tablet {
    font-size: rem(44px);
  }

  @include mobile {
    font-size: rem(32px);
  }
}

.h2 {
  font-family: $e-font-semiBold;
  font-size: rem(32px);
  margin-bottom: rem(32px);
  color: #fff;
  line-height: 120%;
  margin-bottom: rem(62px);

  @include tablet {
    font-size: rem(28px);
    margin-bottom: rem(162px);
  }

  @include mobile {
    font-size: rem(26px);
    margin-bottom: rem(182px);
  }
}

.h3 {
  font-family: $e-font-bold;
  font-weight: 700;
  font-size: rem(32px);
  line-height: rem(40px);
  margin-bottom: rem(80px);
  text-align: center;

  @include tablet {
    margin-bottom: rem(60px);
  }
}

.h4 {
  font-family: $e-font-bold;
  font-weight: 700;
  font-size: rem(20px);
  line-height: rem(24px);
  color: #222;
  width: 100%;
}

.title-green {
  font-family: $e-font-bold;
  color:#3D8A65;
  font-size: rem(36px);
  line-height: rem(44px);
  text-align: center;
  margin-bottom: rem(20px);
}

.subtitle-green {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  font-family: $e-font-bold;
  color:#3D8A65;
  font-size: rem(24px);
  line-height: rem(30px);
  text-align: center;
  border-bottom: 1px dashed #3D8A65;
  margin-bottom: rem(103px);

  &:hover {
    cursor: pointer;
  }
}

.middle {
  margin-right: auto;
  margin-left: auto;
}

.txt {
  font-weight: 400;
  font-size: rem(18px);
  line-height: rem(22px);
  // font-family: $s-font-textn;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
  }
}



