@font-face {
  font-family: 'Montserrat-Bold';
  src: 
    url('../../fonts/Montserrat-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../../fonts/Montserrat-SemiBold.woff') format('woff'),
}


@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../../fonts/Montserrat-Medium.woff') format('woff'),
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../../fonts/Montserrat-Regular.woff') format('woff'),
}

@font-face {
  font-family: 'Inter-Bold';
  src: url('../../fonts/Inter-Bold.woff') format('woff'),
}

@font-face {
  font-family: 'MontserratAlternates-SemiBold';
  src: url('../../fonts/MontserratAlternates-SemiBold.woff') format('woff'),
}


